*{
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    
    
/*        .contUser{
        display: block;
        width: 92%;
        height: 37%;
 
        margin-left: auto;
        margin-right: auto;

    }*/